.lhiver-est-l {
    position: absolute;
    top: 0px;
    left: calc(50% - 275px);
    line-height: 22px;
    font-weight: 500;
    display: inline-block;
    width: 550px;
}
.lhiver-est-l-et-avec-lui-u-wrapper {
    position: absolute;
    top: 120.89px;
    left: calc(50% - 275px);
    width: 550px;
    height: 66px;
}
.les-soldes-dhiver {
    position: absolute;
    top: 0px;
    left: calc(50% - 166px);
    font-size: 34.27px;
    text-transform: uppercase;
    display: inline-block;
    color: #000;
    text-align: left;
    width: 332px;
}
.chers-abonns {
    position: absolute;
    top: 97.89px;
    left: calc(50% - 64px);
    line-height: 22px;
    font-weight: 500;
}
.offre-valable-du {
    position: absolute;
    top: 200px;
    left: calc(50% - 118px);
    line-height: 22px;
    font-weight: 500;
}
.group-child {
    position: absolute;
    top: 87.89px;
    left: calc(50% - 101px);
    max-height: 100%;
    width: 181.5px;
}
.les-soldes-dhiver-sont-l-parent {
    position: absolute;
    top: 0px;
    left: calc(50% - 156px);
    width: 332px;
    height: 222px;
    color: #393939;
}
.group-parent {
    position: absolute;
    top: 0px;
    left: calc(50% - 275px);
    width: 550px;
    height: 222px;
}
.group-container {
    position: absolute;
    top: 31px;
    left: calc(50% - 275px);
    width: 550px;
    height: 222px;
}
.group-wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #ffdb2d;
    width: 600px;
    height: 287px;
    overflow: hidden;
}
.group-item {
    position: absolute;
    top: 0px;
    left: 76px;
    width: 15px;
    height: 17px;
}
.group-inner {
    position: absolute;
    top: 14px;
    left: 0px;
    width: 15px;
    height: 17px;
    object-fit: contain;
}
.rectangle-div {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #ffe811;
    width: 91px;
    height: 31px;
}
.je-fonce {
    position: absolute;
    top: 4px;
    left: calc(50% - 32.5px);
    line-height: 22px;
}
.rectangle-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 91px;
    height: 31px;
}
.vector-parent {
    position: absolute;
    top: 270px;
    left: 254px;
    width: 91px;
    height: 31px;
    color: #000;
}
.frame-parent {
    position: absolute;
    top: 85px;
    left: 0px;
    width: 600px;
    height: 301px;
    font-size: 15px;
    color: #3f3f3f;
}
.curated-weeklymonthly-content-child {
    position: absolute;
    top: 541px;
    left: 284px;
    width: 85px;
    height: 87px;
}
.nos-meilleurs-offres {
    position: absolute;
    top: 0px;
    left: calc(50% - 97.5px);
    line-height: 22px;
}
.vector-icon {
    position: absolute;
    top: 37px;
    left: calc(50% - 40.5px);
    max-height: 100%;
    width: 85.5px;
}
.nos-meilleurs-offres-parent {
    position: absolute;
    top: 0px;
    left: calc(50% - 98px);
    width: 195px;
    height: 37px;
}
.frame-child {
    position: absolute;
    top: -37px;
    left: 440px;
    width: 141px;
    height: 155px;
    mix-blend-mode: multiply;
}
.swatch-icon {
    position: absolute;
    top: 113px;
    left: -14px;
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.profitez-davantages-clients {
    position: absolute;
    top: 54px;
    left: 319px;
    line-height: 18px;
    font-weight: 500;
    display: inline-block;
    width: 215px;
}
.frame-item {
    position: absolute;
    top: 89px;
    left: calc(50% - 113px);
    max-height: 100%;
    width: 79px;
}
.frame-inner {
    position: absolute;
    top: 99px;
    left: calc(50% - 113px);
    max-height: 100%;
    width: 79px;
}
.frame-child1 {
    position: absolute;
    top: 108px;
    left: calc(50% - 113px);
    max-height: 100%;
    width: 79px;
}
.frame-child2 {
    position: absolute;
    top: 118px;
    left: calc(50% - 113px);
    max-height: 100%;
    width: 79px;
}
.frame-child3 {
    position: absolute;
    top: 128px;
    left: calc(50% - 113px);
    max-height: 100%;
    width: 79px;
}
.jusqu {
    margin-block-start: 0;
    margin-block-end: 8.81px;
}
.sur-le-site {
    margin: 0;
}
.jusqu-30-sur-container {
    position: absolute;
    top: calc(50% - 58.5px);
    left: 10px;
    font-size: 48.43px;
    line-height: 48.43px;
    text-transform: uppercase;
    font-family: 'League Gothic';
    color: #000;
    text-align: center;
    display: inline-block;
    width: 232px;
    height: 97px;
}
.frame-div {
    position: absolute;
    top: 0px;
    left: calc(50% - 275px);
    background-color: #f2f1f9;
    width: 550px;
    height: 173px;
    overflow: hidden;
}
.group-child1 {
    position: absolute;
    top: 0px;
    left: 86.32px;
    width: 13.7px;
    height: 14.5px;
}
.group-child2 {
    position: absolute;
    top: 11.97px;
    left: 0px;
    width: 12.8px;
    height: 14.5px;
    object-fit: contain;
}
.group-child3 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #ffe811;
    width: 100px;
    height: 26.5px;
}
.voir-loffre {
    position: absolute;
    top: 3.42px;
    left: calc(50% - 30.89px);
    line-height: 18.8px;
}
.rectangle-group {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 26.5px;
}
.vector-group {
    position: absolute;
    top: 160px;
    left: 315px;
    width: 100px;
    height: 26.5px;
    text-align: center;
    font-size: 12px;
    color: #000;
}
.frame-group {
    position: absolute;
    top: 52px;
    left: calc(50% - 275px);
    width: 550px;
    height: 186.5px;
    text-align: left;
    font-size: 20px;
    color: #3f3f3f;
}
.group-div {
    position: absolute;
    top: 426px;
    left: calc(50% - 275px);
    width: 550px;
    height: 238.5px;
}
.shape-icon {
    position: absolute;
    top: 0.07px;
    left: 14.5px;
    width: 2.3px;
    height: 2.3px;
    object-fit: contain;
}
.shape-icon1 {
    position: absolute;
    top: 0.71px;
    left: 11.39px;
    width: 2.5px;
    height: 2.5px;
    object-fit: contain;
}
.shape-icon2 {
    position: absolute;
    top: 1.89px;
    left: 8.51px;
    width: 2.7px;
    height: 2.7px;
    object-fit: contain;
}
.shape-icon3 {
    position: absolute;
    top: 3.59px;
    left: 5.94px;
    width: 2.7px;
    height: 2.7px;
    object-fit: contain;
}
.shape-icon4 {
    position: absolute;
    top: 5.75px;
    left: 3.75px;
    width: 2.7px;
    height: 2.7px;
    object-fit: contain;
}
.shape-icon5 {
    position: absolute;
    top: 8.29px;
    left: 2.02px;
    width: 2.7px;
    height: 2.7px;
    object-fit: contain;
}
.shape-icon6 {
    position: absolute;
    top: 11.16px;
    left: 0.8px;
    width: 2.5px;
    height: 2.5px;
    object-fit: contain;
}
.shape-icon7 {
    position: absolute;
    top: 14.26px;
    left: 0.12px;
    width: 2.3px;
    height: 2.3px;
    object-fit: contain;
}
.shape-child {
    width: 1.9px;
    position: relative;
    border-radius: 50%;
    background-color: #000;
    height: 1.9px;
}
.shape {
    position: absolute;
    top: 19.43px;
    left: 0px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    transform:  rotate(-90deg);
    transform-origin: 0 0;
}
.shape-icon8 {
    position: absolute;
    top: 20.37px;
    left: 0.07px;
    width: 2.3px;
    height: 2.3px;
    object-fit: contain;
}
.shape-icon9 {
    position: absolute;
    top: 23.21px;
    left: 0.71px;
    width: 2.5px;
    height: 2.5px;
    object-fit: contain;
}
.shape-icon10 {
    position: absolute;
    top: 25.91px;
    left: 1.89px;
    width: 2.7px;
    height: 2.7px;
    object-fit: contain;
}
.shape-icon11 {
    position: absolute;
    top: 28.39px;
    left: 3.59px;
    width: 2.7px;
    height: 2.7px;
    object-fit: contain;
}
.shape-icon12 {
    position: absolute;
    top: 30.57px;
    left: 5.75px;
    width: 2.7px;
    height: 2.7px;
    object-fit: contain;
}
.shape-icon13 {
    position: absolute;
    top: 32.4px;
    left: 8.29px;
    width: 2.7px;
    height: 2.7px;
    object-fit: contain;
}
.shape-icon14 {
    position: absolute;
    top: 33.81px;
    left: 11.16px;
    width: 2.5px;
    height: 2.5px;
    object-fit: contain;
}
.shape-icon15 {
    position: absolute;
    top: 34.76px;
    left: 14.26px;
    width: 2.3px;
    height: 2.3px;
    object-fit: contain;
}
.shape1 {
    position: absolute;
    top: 37.17px;
    left: 19.44px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    transform:  rotate(180deg);
    transform-origin: 0 0;
}
.shape-icon16 {
    position: absolute;
    top: 34.8px;
    left: 20.37px;
    width: 2.3px;
    height: 2.3px;
    object-fit: contain;
}
.shape-icon17 {
    position: absolute;
    top: 33.89px;
    left: 23.21px;
    width: 2.5px;
    height: 2.5px;
    object-fit: contain;
}
.shape-icon18 {
    position: absolute;
    top: 32.52px;
    left: 25.91px;
    width: 2.7px;
    height: 2.7px;
    object-fit: contain;
}
.shape-icon19 {
    position: absolute;
    top: 30.73px;
    left: 28.39px;
    width: 2.7px;
    height: 2.7px;
    object-fit: contain;
}
.shape-icon20 {
    position: absolute;
    top: 28.58px;
    left: 30.57px;
    width: 2.7px;
    height: 2.7px;
    object-fit: contain;
}
.shape-icon21 {
    position: absolute;
    top: 26.12px;
    left: 32.4px;
    width: 2.7px;
    height: 2.7px;
    object-fit: contain;
}
.shape-icon22 {
    position: absolute;
    top: 23.44px;
    left: 33.81px;
    width: 2.5px;
    height: 2.5px;
    object-fit: contain;
}
.shape-icon23 {
    position: absolute;
    top: 20.62px;
    left: 34.76px;
    width: 2.3px;
    height: 2.3px;
    object-fit: contain;
}
.shape2 {
    position: absolute;
    top: 17.74px;
    left: 37.17px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    transform:  rotate(90deg);
    transform-origin: 0 0;
}
.shape-icon24 {
    position: absolute;
    top: 14.5px;
    left: 34.8px;
    width: 2.3px;
    height: 2.3px;
    object-fit: contain;
}
.shape-icon25 {
    position: absolute;
    top: 11.4px;
    left: 33.89px;
    width: 2.5px;
    height: 2.5px;
    object-fit: contain;
}
.shape-icon26 {
    position: absolute;
    top: 8.51px;
    left: 32.52px;
    width: 2.7px;
    height: 2.7px;
    object-fit: contain;
}
.shape-icon27 {
    position: absolute;
    top: 5.94px;
    left: 30.73px;
    width: 2.7px;
    height: 2.7px;
    object-fit: contain;
}
.shape-icon28 {
    position: absolute;
    top: 3.75px;
    left: 28.58px;
    width: 2.7px;
    height: 2.7px;
    object-fit: contain;
}
.shape-icon29 {
    position: absolute;
    top: 2.02px;
    left: 26.12px;
    width: 2.7px;
    height: 2.7px;
    object-fit: contain;
}
.shape-icon30 {
    position: absolute;
    top: 0.79px;
    left: 23.44px;
    width: 2.5px;
    height: 2.5px;
    object-fit: contain;
}
.shape-icon31 {
    position: absolute;
    top: 0.12px;
    left: 20.62px;
    width: 2.3px;
    height: 2.3px;
    object-fit: contain;
}
.shape3 {
    position: absolute;
    top: 0px;
    left: 17.74px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}
.div {
    position: absolute;
    top: 15.77px;
    left: 15.81px;
    width: 37.2px;
    height: 37.2px;
}
.icon {
    position: absolute;
    top: 11.39px;
    left: 11.4px;
    width: 45.9px;
    height: 45.9px;
    object-fit: contain;
}
.shape-icon32 {
    position: absolute;
    top: 0.09px;
    left: 18.58px;
    width: 2.9px;
    height: 2.9px;
    object-fit: contain;
}
.shape-icon33 {
    position: absolute;
    top: 0.91px;
    left: 14.6px;
    width: 3.2px;
    height: 3.2px;
    object-fit: contain;
}
.shape-icon34 {
    position: absolute;
    top: 2.43px;
    left: 10.9px;
    width: 3.4px;
    height: 3.4px;
    object-fit: contain;
}
.shape-icon35 {
    position: absolute;
    top: 4.6px;
    left: 7.61px;
    width: 3.5px;
    height: 3.5px;
    object-fit: contain;
}
.shape-icon36 {
    position: absolute;
    top: 7.36px;
    left: 4.81px;
    width: 3.5px;
    height: 3.5px;
    object-fit: contain;
}
.shape-icon37 {
    position: absolute;
    top: 10.63px;
    left: 2.59px;
    width: 3.4px;
    height: 3.4px;
    object-fit: contain;
}
.shape-icon38 {
    position: absolute;
    top: 14.3px;
    left: 1.02px;
    width: 3.2px;
    height: 3.2px;
    object-fit: contain;
}
.shape-icon39 {
    position: absolute;
    top: 18.26px;
    left: 0.15px;
    width: 2.9px;
    height: 2.9px;
    object-fit: contain;
}
.shape-child1 {
    width: 1.6px;
    position: relative;
    border-radius: 50%;
    background-color: #000;
    height: 1.6px;
}
.shape4 {
    position: absolute;
    top: 24.9px;
    left: 0px;
    width: 2.5px;
    height: 2.5px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.2px;
    box-sizing: border-box;
    transform:  rotate(-90deg);
    transform-origin: 0 0;
}
.shape-icon40 {
    position: absolute;
    top: 26.1px;
    left: 0.09px;
    width: 2.9px;
    height: 2.9px;
    object-fit: contain;
}
.shape-icon41 {
    position: absolute;
    top: 29.73px;
    left: 0.91px;
    width: 3.2px;
    height: 3.2px;
    object-fit: contain;
}
.shape-icon42 {
    position: absolute;
    top: 33.19px;
    left: 2.43px;
    width: 3.4px;
    height: 3.4px;
    object-fit: contain;
}
.shape-icon43 {
    position: absolute;
    top: 36.37px;
    left: 4.6px;
    width: 3.5px;
    height: 3.5px;
    object-fit: contain;
}
.shape-icon44 {
    position: absolute;
    top: 39.17px;
    left: 7.36px;
    width: 3.5px;
    height: 3.5px;
    object-fit: contain;
}
.shape-icon45 {
    position: absolute;
    top: 41.51px;
    left: 10.63px;
    width: 3.4px;
    height: 3.4px;
    object-fit: contain;
}
.shape-icon46 {
    position: absolute;
    top: 43.32px;
    left: 14.3px;
    width: 3.2px;
    height: 3.2px;
    object-fit: contain;
}
.shape-icon47 {
    position: absolute;
    top: 44.53px;
    left: 18.27px;
    width: 2.9px;
    height: 2.9px;
    object-fit: contain;
}
.shape5 {
    position: absolute;
    top: 47.63px;
    left: 24.9px;
    width: 2.5px;
    height: 2.5px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.2px;
    box-sizing: border-box;
    transform:  rotate(180deg);
    transform-origin: 0 0;
}
.shape-icon48 {
    position: absolute;
    top: 44.59px;
    left: 26.1px;
    width: 2.9px;
    height: 2.9px;
    object-fit: contain;
}
.shape-icon49 {
    position: absolute;
    top: 43.42px;
    left: 29.73px;
    width: 3.2px;
    height: 3.2px;
    object-fit: contain;
}
.shape-icon50 {
    position: absolute;
    top: 41.67px;
    left: 33.19px;
    width: 3.4px;
    height: 3.4px;
    object-fit: contain;
}
.shape-icon51 {
    position: absolute;
    top: 39.38px;
    left: 36.37px;
    width: 3.5px;
    height: 3.5px;
    object-fit: contain;
}
.shape-icon52 {
    position: absolute;
    top: 36.61px;
    left: 39.17px;
    width: 3.5px;
    height: 3.5px;
    object-fit: contain;
}
.shape-icon53 {
    position: absolute;
    top: 33.47px;
    left: 41.51px;
    width: 3.4px;
    height: 3.4px;
    object-fit: contain;
}
.shape-icon54 {
    position: absolute;
    top: 30.03px;
    left: 43.31px;
    width: 3.2px;
    height: 3.2px;
    object-fit: contain;
}
.shape-icon55 {
    position: absolute;
    top: 26.42px;
    left: 44.53px;
    width: 2.9px;
    height: 2.9px;
    object-fit: contain;
}
.shape6 {
    position: absolute;
    top: 22.72px;
    left: 47.62px;
    width: 2.5px;
    height: 2.5px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.2px;
    box-sizing: border-box;
    transform:  rotate(90deg);
    transform-origin: 0 0;
}
.shape-icon56 {
    position: absolute;
    top: 18.58px;
    left: 44.59px;
    width: 2.9px;
    height: 2.9px;
    object-fit: contain;
}
.shape-icon57 {
    position: absolute;
    top: 14.6px;
    left: 43.42px;
    width: 3.2px;
    height: 3.2px;
    object-fit: contain;
}
.shape-icon58 {
    position: absolute;
    top: 10.91px;
    left: 41.67px;
    width: 3.4px;
    height: 3.4px;
    object-fit: contain;
}
.shape-icon59 {
    position: absolute;
    top: 7.61px;
    left: 39.38px;
    width: 3.5px;
    height: 3.5px;
    object-fit: contain;
}
.shape-icon60 {
    position: absolute;
    top: 4.81px;
    left: 36.61px;
    width: 3.5px;
    height: 3.5px;
    object-fit: contain;
}
.shape-icon61 {
    position: absolute;
    top: 2.59px;
    left: 33.47px;
    width: 3.4px;
    height: 3.4px;
    object-fit: contain;
}
.shape-icon62 {
    position: absolute;
    top: 1.02px;
    left: 30.03px;
    width: 3.2px;
    height: 3.2px;
    object-fit: contain;
}
.shape-icon63 {
    position: absolute;
    top: 0.15px;
    left: 26.42px;
    width: 2.9px;
    height: 2.9px;
    object-fit: contain;
}
.shape7 {
    position: absolute;
    top: 0px;
    left: 22.72px;
    width: 2.5px;
    height: 2.5px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.2px;
    box-sizing: border-box;
}
.div1 {
    position: absolute;
    top: 10.51px;
    left: 10.55px;
    width: 47.6px;
    height: 47.6px;
}
.icon1 {
    position: absolute;
    top: 5.69px;
    left: 5.7px;
    width: 57.3px;
    height: 57.3px;
    object-fit: contain;
}
.shape-icon64 {
    position: absolute;
    top: 0.11px;
    left: 22.66px;
    width: 3.5px;
    height: 3.5px;
    object-fit: contain;
}
.shape-icon65 {
    position: absolute;
    top: 1.11px;
    left: 17.8px;
    width: 3.9px;
    height: 3.9px;
    object-fit: contain;
}
.shape-icon66 {
    position: absolute;
    top: 2.96px;
    left: 13.3px;
    width: 4.2px;
    height: 4.2px;
    object-fit: contain;
}
.shape-icon67 {
    position: absolute;
    top: 5.61px;
    left: 9.28px;
    width: 4.3px;
    height: 4.3px;
    object-fit: contain;
}
.shape-icon68 {
    position: absolute;
    top: 8.98px;
    left: 5.86px;
    width: 4.3px;
    height: 4.3px;
    object-fit: contain;
}
.shape-icon69 {
    position: absolute;
    top: 12.96px;
    left: 3.16px;
    width: 4.2px;
    height: 4.2px;
    object-fit: contain;
}
.shape-icon70 {
    position: absolute;
    top: 17.44px;
    left: 1.24px;
    width: 3.9px;
    height: 3.9px;
    object-fit: contain;
}
.shape-icon71 {
    position: absolute;
    top: 22.27px;
    left: 0.18px;
    width: 3.5px;
    height: 3.5px;
    object-fit: contain;
}
.shape-child5 {
    width: 1.2px;
    position: relative;
    border-radius: 50%;
    background-color: #000;
    height: 1.2px;
}
.shape8 {
    position: absolute;
    top: 30.37px;
    left: 0px;
    width: 3px;
    height: 3px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.4px;
    box-sizing: border-box;
    transform:  rotate(-90deg);
    transform-origin: 0 0;
}
.shape-icon72 {
    position: absolute;
    top: 31.83px;
    left: 0.11px;
    width: 3.5px;
    height: 3.5px;
    object-fit: contain;
}
.shape-icon73 {
    position: absolute;
    top: 36.26px;
    left: 1.11px;
    width: 3.9px;
    height: 3.9px;
    object-fit: contain;
}
.shape-icon74 {
    position: absolute;
    top: 40.48px;
    left: 2.96px;
    width: 4.2px;
    height: 4.2px;
    object-fit: contain;
}
.shape-icon75 {
    position: absolute;
    top: 44.35px;
    left: 5.61px;
    width: 4.3px;
    height: 4.3px;
    object-fit: contain;
}
.shape-icon76 {
    position: absolute;
    top: 47.77px;
    left: 8.98px;
    width: 4.3px;
    height: 4.3px;
    object-fit: contain;
}
.shape-icon77 {
    position: absolute;
    top: 50.62px;
    left: 12.96px;
    width: 4.2px;
    height: 4.2px;
    object-fit: contain;
}
.shape-icon78 {
    position: absolute;
    top: 52.82px;
    left: 17.44px;
    width: 3.9px;
    height: 3.9px;
    object-fit: contain;
}
.shape-icon79 {
    position: absolute;
    top: 54.31px;
    left: 22.27px;
    width: 3.5px;
    height: 3.5px;
    object-fit: contain;
}
.shape9 {
    position: absolute;
    top: 58.08px;
    left: 30.37px;
    width: 3px;
    height: 3px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.4px;
    box-sizing: border-box;
    transform:  rotate(180deg);
    transform-origin: 0 0;
}
.shape-icon80 {
    position: absolute;
    top: 54.38px;
    left: 31.83px;
    width: 3.5px;
    height: 3.5px;
    object-fit: contain;
}
.shape-icon81 {
    position: absolute;
    top: 52.96px;
    left: 36.26px;
    width: 3.9px;
    height: 3.9px;
    object-fit: contain;
}
.shape-icon82 {
    position: absolute;
    top: 50.82px;
    left: 40.48px;
    width: 4.2px;
    height: 4.2px;
    object-fit: contain;
}
.shape-icon83 {
    position: absolute;
    top: 48.02px;
    left: 44.35px;
    width: 4.3px;
    height: 4.3px;
    object-fit: contain;
}
.shape-icon84 {
    position: absolute;
    top: 44.65px;
    left: 47.77px;
    width: 4.3px;
    height: 4.3px;
    object-fit: contain;
}
.shape-icon85 {
    position: absolute;
    top: 40.82px;
    left: 50.62px;
    width: 4.2px;
    height: 4.2px;
    object-fit: contain;
}
.shape-icon86 {
    position: absolute;
    top: 36.63px;
    left: 52.82px;
    width: 3.9px;
    height: 3.9px;
    object-fit: contain;
}
.shape-icon87 {
    position: absolute;
    top: 32.22px;
    left: 54.31px;
    width: 3.5px;
    height: 3.5px;
    object-fit: contain;
}
.shape10 {
    position: absolute;
    top: 27.71px;
    left: 58.08px;
    width: 3px;
    height: 3px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.4px;
    box-sizing: border-box;
    transform:  rotate(90deg);
    transform-origin: 0 0;
}
.shape-icon88 {
    position: absolute;
    top: 22.66px;
    left: 54.38px;
    width: 3.5px;
    height: 3.5px;
    object-fit: contain;
}
.shape-icon89 {
    position: absolute;
    top: 17.81px;
    left: 52.96px;
    width: 3.9px;
    height: 3.9px;
    object-fit: contain;
}
.shape-icon90 {
    position: absolute;
    top: 13.3px;
    left: 50.82px;
    width: 4.2px;
    height: 4.2px;
    object-fit: contain;
}
.shape-icon91 {
    position: absolute;
    top: 9.28px;
    left: 48.02px;
    width: 4.3px;
    height: 4.3px;
    object-fit: contain;
}
.shape-icon92 {
    position: absolute;
    top: 5.86px;
    left: 44.65px;
    width: 4.3px;
    height: 4.3px;
    object-fit: contain;
}
.shape-icon93 {
    position: absolute;
    top: 3.16px;
    left: 40.82px;
    width: 4.2px;
    height: 4.2px;
    object-fit: contain;
}
.shape-icon94 {
    position: absolute;
    top: 1.24px;
    left: 36.63px;
    width: 3.9px;
    height: 3.9px;
    object-fit: contain;
}
.shape-icon95 {
    position: absolute;
    top: 0.18px;
    left: 32.22px;
    width: 3.5px;
    height: 3.5px;
    object-fit: contain;
}
.shape11 {
    position: absolute;
    top: 0px;
    left: 27.71px;
    width: 3px;
    height: 3px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.4px;
    box-sizing: border-box;
}
.div2 {
    position: absolute;
    top: 5.25px;
    left: 5.29px;
    width: 58.1px;
    height: 58.1px;
}
.icon2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 68.6px;
    height: 68.6px;
    object-fit: contain;
}
.parent {
    position: absolute;
    top: 24px;
    left: 56px;
    width: 68.6px;
    height: 68.6px;
}
.meliuk-liuk-icon {
    position: absolute;
    top: -44px;
    left: -34px;
    width: 145.7px;
    height: 127.4px;
    object-fit: contain;
}
.frame-child4 {
    position: absolute;
    top: 73px;
    left: 481px;
    border-radius: 50%;
    background-color: #fec310;
    width: 89px;
    height: 89px;
    opacity: 0.7;
}
.shape-icon96 {
    position: absolute;
    top: 0.75px;
    left: 2.38px;
    width: 3.1px;
    height: 3.1px;
    object-fit: contain;
}
.shape-icon97 {
    position: absolute;
    top: 4.31px;
    left: 0px;
    width: 2.8px;
    height: 2.8px;
    object-fit: contain;
}
.shape-icon98 {
    position: absolute;
    top: 8.55px;
    left: 0px;
    width: 2.8px;
    height: 2.8px;
    object-fit: contain;
}
.shape-icon99 {
    position: absolute;
    top: 11.85px;
    left: 2.2px;
    width: 3.1px;
    height: 3.1px;
    object-fit: contain;
}
.shape-child9 {
    width: 0.6px;
    position: relative;
    border-radius: 50%;
    background-color: #000;
    height: 0.6px;
}
.shape12 {
    position: absolute;
    top: 15.96px;
    left: 8.95px;
    width: 2.2px;
    height: 2.2px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.4px;
    box-sizing: border-box;
    transform:  rotate(180deg);
    transform-origin: 0 0;
}
.shape-icon100 {
    position: absolute;
    top: 11.98px;
    left: 10.26px;
    width: 3.1px;
    height: 3.1px;
    object-fit: contain;
}
.shape-icon101 {
    position: absolute;
    top: 8.76px;
    left: 12.97px;
    width: 2.8px;
    height: 2.8px;
    object-fit: contain;
}
.shape-icon102 {
    position: absolute;
    top: 4.52px;
    left: 13.04px;
    width: 2.8px;
    height: 2.8px;
    object-fit: contain;
}
.shape-icon103 {
    position: absolute;
    top: 0.88px;
    left: 10.44px;
    width: 3.1px;
    height: 3.1px;
    object-fit: contain;
}
.shape13 {
    position: absolute;
    top: 0px;
    left: 6.92px;
    width: 2.2px;
    height: 2.2px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.4px;
    box-sizing: border-box;
}
.div3 {
    position: absolute;
    top: 35.18px;
    left: 36.1px;
    width: 15.9px;
    height: 16px;
}
.icon3 {
    position: absolute;
    top: 30.65px;
    left: 31.51px;
    width: 24.9px;
    height: 25px;
    object-fit: contain;
}
.icon4 {
    position: absolute;
    top: 25.85px;
    left: 26.61px;
    width: 34.6px;
    height: 34.7px;
    object-fit: contain;
}
.icon5 {
    position: absolute;
    top: 21.15px;
    left: 21.76px;
    width: 44.2px;
    height: 44.2px;
    object-fit: contain;
}
.icon6 {
    position: absolute;
    top: 17.68px;
    left: 18.13px;
    width: 51.3px;
    height: 51.3px;
    object-fit: contain;
}
.icon7 {
    position: absolute;
    top: 15.72px;
    left: 15.98px;
    width: 55.5px;
    height: 55.4px;
    object-fit: contain;
}
.icon8 {
    position: absolute;
    top: 16.1px;
    left: 16.18px;
    width: 55.1px;
    height: 54.9px;
    object-fit: contain;
}
.icon9 {
    position: absolute;
    top: 15.47px;
    left: 15.44px;
    width: 56.7px;
    height: 56.4px;
    object-fit: contain;
}
.icon10 {
    position: absolute;
    top: 7.17px;
    left: 7.11px;
    width: 73.5px;
    height: 73.2px;
    object-fit: contain;
}
.icon11 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 87.9px;
    height: 87.8px;
    object-fit: contain;
}
.group {
    position: absolute;
    top: 73px;
    left: 481px;
    width: 87.9px;
    height: 87.8px;
}
.group-icon {
    position: absolute;
    top: 29px;
    left: 70px;
    width: 89px;
    height: 116px;
    object-fit: cover;
}
.produits-en-france {
    position: absolute;
    top: 37px;
    left: 0px;
    line-height: 16px;
    font-weight: 500;
    white-space: pre-wrap;
    display: inline-block;
    width: 273px;
}
.la-mission-de {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 16px;
    line-height: 18.8px;
    display: inline-block;
    color: #000;
    width: 255px;
}
.group-child4 {
    position: absolute;
    top: 26px;
    left: calc(50% - 136.5px);
    max-height: 100%;
    width: 133px;
}
.produits-en-france-avec-des-f-parent {
    position: absolute;
    top: 36px;
    left: 189px;
    width: 273px;
    height: 101px;
}
.group-parent1 {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #ffcf1e;
    width: 550px;
    height: 174px;
    overflow: hidden;
}
.propos {
    position: absolute;
    top: 3.42px;
    left: calc(50% - 23.89px);
    line-height: 18.8px;
}
.vector-container {
    position: absolute;
    top: 159px;
    left: 189px;
    width: 100px;
    height: 26.5px;
    text-align: center;
    font-size: 12px;
    color: #000;
}
.frame-container {
    position: absolute;
    top: 704.5px;
    left: 25px;
    width: 550px;
    height: 185.5px;
    text-align: left;
    font-size: 11px;
    color: #3f3f3f;
}
.les-nouveauts-de {
    position: absolute;
    top: 0px;
    left: calc(50% - 151px);
    line-height: 22px;
}
.group-child8 {
    position: absolute;
    top: 37px;
    left: calc(50% - 40px);
    max-height: 100%;
    width: 85.5px;
}
.les-nouveauts-de-cette-saison-parent {
    position: absolute;
    top: 0px;
    left: calc(50% - 152px);
    width: 302px;
    height: 37px;
}
.la-trousse-de {
    position: absolute;
    top: 0px;
    left: 2px;
    line-height: 18.8px;
    display: inline-block;
    width: 249px;
}
.spacieuse-pour-tous {
    position: absolute;
    top: 42px;
    left: 0px;
    font-size: 11px;
    line-height: 18px;
    font-weight: 500;
    color: #3f3f3f;
    display: inline-block;
    width: 253px;
}
.dcouvrez-la {
    position: absolute;
    top: 3.42px;
    left: calc(50% - 37.89px);
    line-height: 18.8px;
}
.vector-parent1 {
    position: absolute;
    top: 101px;
    left: 133px;
    width: 100px;
    height: 26.5px;
    text-align: center;
    font-size: 12px;
}
.la-trousse-de-toilette-900car-parent {
    position: absolute;
    top: 37.01px;
    left: 288px;
    width: 253px;
    height: 127.5px;
}
.group-frame {
    position: absolute;
    top: 52px;
    left: 0px;
    background: linear-gradient(106deg, #ebedf1, #ebedf1);
    width: 550px;
    height: 196px;
    overflow: hidden;
    text-align: left;
    font-size: 16px;
}
.group-parent3 {
    position: absolute;
    top: 0px;
    left: calc(50% - 276px);
    width: 550px;
    height: 248px;
}
.la-nouveau-do {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 18.8px;
    display: inline-block;
    width: 251px;
}
.dcouvrez-le-nouveau {
    margin-block-start: 0;
    margin-block-end: 4px;
}
.dcouvrez-le-nouveau-container {
    position: absolute;
    top: 27px;
    left: 0px;
    font-size: 11px;
    line-height: 16px;
    font-weight: 500;
    color: #3f3f3f;
    display: inline-block;
    width: 279px;
}
.commander {
    position: absolute;
    top: 3.42px;
    left: calc(50% - 35.89px);
    line-height: 18.8px;
}
.vector-parent2 {
    position: absolute;
    top: 76px;
    left: 0px;
    width: 100px;
    height: 26.5px;
    text-align: center;
    font-size: 12px;
}
.la-nouveau-do-bille-48h-parent {
    position: absolute;
    top: 47px;
    left: 33px;
    width: 279px;
    height: 102.5px;
}
.image-icon {
    position: absolute;
    top: -0.99px;
    left: 270px;
    width: 279px;
    height: 197px;
    object-fit: cover;
}
.group-parent4 {
    position: absolute;
    top: 268px;
    left: 2px;
    background: linear-gradient(106deg, #ebedf1, #ebedf1);
    width: 550px;
    height: 196px;
    overflow: hidden;
    text-align: left;
    font-size: 16px;
}
.image-icon1 {
    position: absolute;
    top: 52.01px;
    left: 0px;
    width: 279px;
    height: 197px;
    object-fit: contain;
}
.group-parent2 {
    position: absolute;
    top: 929.99px;
    left: calc(50% - 275px);
    width: 552px;
    height: 464px;
}
.nos-best-sellers {
    position: absolute;
    top: 0px;
    left: calc(50% - 78.5px);
    line-height: 22px;
}
.nos-best-sellers-parent {
    position: absolute;
    top: 0px;
    left: calc(50% - 80px);
    width: 157px;
    height: 37px;
}
.image-icon2 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 240px;
    height: 196px;
    object-fit: contain;
}
.voir-ce-kit {
    position: absolute;
    top: 3.42px;
    left: calc(50% - 29.89px);
    line-height: 18.8px;
}
.vector-parent3 {
    position: absolute;
    top: 104px;
    left: 0px;
    width: 100px;
    height: 26.5px;
}
.kit-essentiels {
    position: absolute;
    top: 0px;
    left: 0px;
    line-height: 18.8px;
}
.chaque-kit-contient {
    position: absolute;
    top: 31px;
    left: 0px;
    font-size: 11px;
    line-height: 16px;
    font-weight: 500;
    color: #3f3f3f;
    display: inline-block;
    width: 273px;
}
.kit-essentiels-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 273px;
    height: 79px;
    text-align: left;
    font-size: 16px;
}
.group-parent7 {
    position: absolute;
    top: 21px;
    left: 277px;
    width: 273px;
    height: 130.5px;
}
.image-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 550px;
    height: 196px;
}
.image-icon3 {
    position: absolute;
    top: 0px;
    left: 310px;
    width: 240px;
    height: 196px;
    object-fit: cover;
}
.voir-ce-kit1 {
    position: absolute;
    top: 5px;
    left: calc(50% - 31px);
    line-height: 18.8px;
}
.vector-parent4 {
    position: absolute;
    top: 107px;
    left: 0px;
    width: 100px;
    height: 26.5px;
}
.kit-solide-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 273px;
    height: 95px;
    text-align: left;
    font-size: 16px;
}
.group-parent8 {
    position: absolute;
    top: 45px;
    left: 0px;
    width: 273px;
    height: 133.5px;
}
.image-group {
    position: absolute;
    top: 216px;
    left: 2px;
    width: 550px;
    height: 196px;
}
.group-parent6 {
    position: absolute;
    top: 52px;
    left: 0px;
    width: 552px;
    height: 412px;
    font-size: 12px;
}
.group-parent5 {
    position: absolute;
    top: 1434px;
    left: calc(50% - 275px);
    width: 552px;
    height: 464px;
}
.frame-icon {
    position: absolute;
    top: 12px;
    left: 10px;
    width: 600px;
    height: 121px;
    overflow: hidden;
}
.shape-icon104 {
    position: absolute;
    top: 0.51px;
    left: 1.79px;
    width: 2.4px;
    height: 2.4px;
    object-fit: contain;
}
.shape-icon105 {
    position: absolute;
    top: 3.14px;
    left: 0px;
    width: 2.1px;
    height: 2.1px;
    object-fit: contain;
}
.shape-icon106 {
    position: absolute;
    top: 6.3px;
    left: 0px;
    width: 2.1px;
    height: 2.1px;
    object-fit: contain;
}
.shape-icon107 {
    position: absolute;
    top: 8.76px;
    left: 1.57px;
    width: 2.4px;
    height: 2.4px;
    object-fit: contain;
}
.shape-child11 {
    width: 0.4px;
    position: relative;
    border-radius: 50%;
    background-color: #000;
    height: 0.4px;
}
.shape14 {
    position: absolute;
    top: 11.9px;
    left: 6.63px;
    width: 1.7px;
    height: 1.7px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.3px;
    box-sizing: border-box;
    transform:  rotate(180deg);
    transform-origin: 0 0;
}
.shape-icon108 {
    position: absolute;
    top: 8.92px;
    left: 7.57px;
    width: 2.4px;
    height: 2.4px;
    object-fit: contain;
}
.shape-icon109 {
    position: absolute;
    top: 6.55px;
    left: 9.63px;
    width: 2.1px;
    height: 2.1px;
    object-fit: contain;
}
.shape-icon110 {
    position: absolute;
    top: 3.4px;
    left: 9.71px;
    width: 2.1px;
    height: 2.1px;
    object-fit: contain;
}
.shape-icon111 {
    position: absolute;
    top: 0.67px;
    left: 7.79px;
    width: 2.4px;
    height: 2.4px;
    object-fit: contain;
}
.shape15 {
    position: absolute;
    top: 0px;
    left: 5.21px;
    width: 1.7px;
    height: 1.7px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.3px;
    box-sizing: border-box;
}
.div4 {
    position: absolute;
    top: 25.9px;
    left: 26.93px;
    width: 11.8px;
    height: 11.9px;
}
.icon12 {
    position: absolute;
    top: 22.52px;
    left: 23.49px;
    width: 18.6px;
    height: 18.6px;
    object-fit: contain;
}
.icon13 {
    position: absolute;
    top: 18.95px;
    left: 19.8px;
    width: 25.8px;
    height: 25.8px;
    object-fit: contain;
}
.icon14 {
    position: absolute;
    top: 15.47px;
    left: 16.16px;
    width: 32.9px;
    height: 32.9px;
    object-fit: contain;
}
.icon15 {
    position: absolute;
    top: 12.92px;
    left: 13.43px;
    width: 38.3px;
    height: 38.2px;
    object-fit: contain;
}
.icon16 {
    position: absolute;
    top: 11.5px;
    left: 11.81px;
    width: 41.4px;
    height: 41.3px;
    object-fit: contain;
}
.icon17 {
    position: absolute;
    top: 11.85px;
    left: 11.97px;
    width: 41.1px;
    height: 40.9px;
    object-fit: contain;
}
.icon18 {
    position: absolute;
    top: 11.43px;
    left: 11.42px;
    width: 42.2px;
    height: 42.1px;
    object-fit: contain;
}
.icon19 {
    position: absolute;
    top: 5.3px;
    left: 5.25px;
    width: 54.8px;
    height: 54.6px;
    object-fit: contain;
}
.icon20 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 65.5px;
    height: 65.5px;
    object-fit: contain;
}
.container {
    position: absolute;
    top: 46px;
    left: 0px;
    width: 65.5px;
    height: 65.5px;
    opacity: 0.3;
}
.group-child22 {
    position: absolute;
    height: 18.14%;
    width: 100%;
    top: 81.79%;
    right: 0%;
    bottom: 0.07%;
    left: 0%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}
.group-child23 {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 74px;
    height: 30px;
}
.rseaux {
    position: absolute;
    top: 4px;
    left: 15px;
    text-transform: uppercase;
}
.care {
    position: absolute;
    top: 13.78px;
    left: 17.8px;
    font-size: 10.76px;
    text-transform: uppercase;
}
.group-parent10 {
    position: absolute;
    top: 0px;
    left: 0.69px;
    width: 74px;
    height: 30px;
}
.group-parent9 {
    position: absolute;
    height: 65.49%;
    width: 12.33%;
    top: 0%;
    right: 43.03%;
    bottom: 34.51%;
    left: 44.64%;
}
.se-dsabonner {
    position: absolute;
    top: 102px;
    left: calc(50% - 31px);
    font-size: 11px;
    text-decoration: underline;
    line-height: 16px;
    font-weight: 500;
    color: #3f3f3f;
}
.frame-parent1 {
    position: absolute;
    top: 1937px;
    left: -10px;
    width: 610px;
    height: 133px;
    text-align: left;
    font-size: 6.07px;
    color: #fff;
}
.image-852-icon {
    position: absolute;
    top: 12px;
    left: 11px;
    width: 150px;
    height: 63px;
    object-fit: cover;
}
.version-en-ligne {
    position: absolute;
    top: 35px;
    left: 473px;
    font-size: 16px;
    text-decoration: underline;
    color: #101010;
}
.curated-weeklymonthly-content {
    width: 100%;
    position: relative;
    background-color: #fff;
    height: 2070px;
    overflow: hidden;
    text-align: center;
    font-size: 22px;
    color: #000;
    font-family: Lato;
}

